*{
  margin: 0;
  font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
  border: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  *{
    scroll-behavior: smooth;
  }
}

.navbar{
  height: 60px;
  background-color: $0f1111;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo{
  height: 50px;
  width: 120px;
  background-size: cover;
}

.border{
  border: 1.5px solid transparent;
}

.border:hover{
  border: 1.5px solid white;
}

.nav-address{
  width: 80px;
}

.add-first{
  color: #cccccc;
  font-size: .90rem;
  margin-left: 15px;
}

.add-secound{
  color: #FFFFFF;
  font-size: 1.25rem;
  margin-left: 5px;
}

.add-icon{
  display: flex;
}

.nav-search{
  display: flex; 
  width: 400px;
  height: 35px;
}

.nav-search:hover{
  border: 3px solid #FFB000;
}

.search-icon{
  background-color: #febd68;
  width: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: #0f1111;
  font-size: 2rem; 
}

.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-input{
  width: 300px;
  border: none;
  font-size: 1.3rem;
}

span{
  font-size: 0.8rem;
}

.weight{
  font-size: .95rem;
  font-weight: 700;
}

.nav-cart i{
  font-size: 1.5rem;
}

.language{
  font-size: 1.5rem;
}

.pannel{
  display: flex; 
  background-color: #222f3d;
  color: white; 
  height: 40px;
  align-iteam: center; 
}

.pannel-ops{
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  font-size: 1rem;
}

.pannel-all{
  margin-left: 20px;
}

.pannel-ops p{
  margin-right: 20px;
}

.hero-section{
  background-image: url(BG.jpg);
  background-size: cover; 
  height: 300px;
  display: flex; 
  justify-content: center;
  align-items: flex-end;
}

.hero-msg{
  color: black; 
  background-color: white; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 40px;
  width: 90%;
  font-size: .95rem;
  margin-bottom: 15px;
}

.hero-msg a{
  color: #007185;
}

.products-section{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly; 
  background-color: white;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}

.box{
  height: 300px;
  width: 23%;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
}

.box-contain{
  font-size: 1rem;
  padding: 20px 10px;
}

.box-contain{
  color: #007185;
  font-size: .95rem;
}

.box-img{
  background-size: contain; 
  background-repeat: no-repeat;
  height: 200px;
  padding: 0 20px 0 20px;
}

.scrollTop{
  background-color: #37475a;
  color: white;
  height: 40px;
  font-size: 1.5rem;
  margin-top: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.scrollTop a{
  text-decoration: none; 
  color: white;
}

.pannel-1{
  display: flex;
  justify-content: space-evenly;
  background-color: #222f3d;
  color: white; 
  height: 300px;
}

.pannel-1 p{
  font-size: 1.5rem;
  margin: 10px 0;
}

.pannel-1 a{
  font-size: .9rem;
  display: flex; 
  margin-bottom: 8px;
  color: #dddddd;
}

.pannel-2{
  background-color: #222f3d;
  color: white; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-top: .5px sold white; 
  height: 60px;
}

.logo-2{
  background-image: url("amazon-png-logo-vector-1.png");
  background-size: conver;
  height: 100px;
  width: 120px;
}

.pannel-3{
  background-color: #0f1111;
  color: #FFFFFF;
  height: 100px;
}

.page{
  font-size: 1rem;
  text-align: center; 
  padding-top: 30px;
}

.copyright{
  font-size: .8ren;
  text-align: center; 
  padding-top: 5px;
  margin-top: 5px;
  display: flex; 
  justify-content: center;
}



